[package]
name = "cargo-temp"
version = "0.2.5"
edition = "2018"
license = "MIT OR Apache-2.0"
description = "A CLI tool that allow you to create a temporary new rust project using cargo with already installed dependencies"
repository = "https://github.com/yozhgoor/cargo-temp"
homepage = "https://github.com/yozhgoor/cargo-temp"
documentation = "https://docs.rs/cargo-temp"
readme = "README.md"
keywords = ["cargo", "temporary", "project", "cli", "dependencies"]
categories = ["development-tools::cargo-plugins"]
include = ["src/**/*.rs", "README.md", "LICENSE.Apache-2.0", "LICENSE.MIT"]

[dependencies]
anyhow = "1.0"
clap = "=3.0.0-beta.5"
serde = { version = "1.0", features = ["derive"] }
tempfile = "3"
toml = "0.5"
regex = "1.5.4"
once_cell = "1.8.0"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.28", features = ["Win32_System_Console", "Win32_Foundation"] }
dirs = "4"

[target.'cfg(unix)'.dependencies]
xdg = "2.2"
