[package]
name = "cargo-temp"
version = "0.2.9"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A CLI tool that allow you to create a temporary new rust project using cargo with already installed dependencies"
repository = "https://github.com/yozhgoor/cargo-temp"
homepage = "https://github.com/yozhgoor/cargo-temp"
documentation = "https://docs.rs/cargo-temp"
readme = "README.md"
keywords = ["cargo", "temporary", "project", "cli", "dependencies"]
categories = ["development-tools::cargo-plugins"]
include = ["src/**/*.rs", "README.md", "LICENSE.Apache-2.0", "LICENSE.MIT"]

[dependencies]
anyhow = "1.0"
clap = { version = "3.1", features = ["derive"] }
env_logger = "0.9"
libc = "0.2"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
tempfile = "3.3"
toml = "0.5"
regex = "1.5"
once_cell = "1.12"

[target.'cfg(windows)'.dependencies]
create_process_w = { version = "0.1", package = "CreateProcessW" }
windows-sys = { version = "0.36", features = ["Win32_System_Console", "Win32_Foundation"] }
dirs = "4"

[target.'cfg(unix)'.dependencies]
xdg = "2.2"
