name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Install toolchain
        uses: hecrj/setup-rust-action@v1
        with:
          targets: x86_64-unknown-linux-musl
      - name: Build release (Linux)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target=x86_64-unknown-linux-musl
      - run: strip target/x86_64-unknown-linux-musl/release/cargo-temp
      - uses: actions/upload-artifact@v2
        with:
          name: build-linux
          path: |
            target/x86_64-unknown-linux-musl/release/cargo-temp

  build-osx-x86:
    runs-on: macos-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Build release (OSX)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target=x86_64-apple-darwin
      - uses: actions/upload-artifact@v2
        with:
          name: build-osx-x86
          path: |
            target/x86_64-apple-darwin/release/cargo-temp

    build-windows:
      runs-on: windows-latest
      steps:
        - name: Checkout source
          uses: actions/checkout@v2
        - name: Build release (Windows)
          uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release --target=x86_64-windows-pc-msvc
          - uses: actions/upload-artifact@v2
            with:
              name: build-windows
              path: |
                target/x86_64-pc-windows-msvc/release/cargo-temp.exe

  release:
    needs: [build-linux, build-osx-x86, build-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - uses: actions/download-artifact@v2
        with:
          name: build-linux
          path: build-linux
      - run: mv build-linux/cargo-temp build-linux/cargo-temp-${{ steps.get_version.outputs.VERSION }}-linux-x86_64
      - uses: actions/download-artifact@v2
        with:
          name: build-osx-x86
          path: build-osx-x86
      - run: mv build-osx-x86/cargo-temp build-osx-x86/cargo-temp-${{ steps.get_version.outputs.VERSION }}-osx-x86_64
      - uses: actions/download-artifact@v2
        with:
          name: build-windows
          path: build-windows
      - run: mv build-windows/cargo-temp.exe build-windows/cargo-temp-${{ steps.get_version.outputs.VERSION }}-windows.exe
      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            build-linux/*
            build-osx-x86/*
            build-windows/*
