name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu

      - name: Build release (Linux)
        run: cargo build --release --target=x86_64-unknown-linux-gnu

      - run: strip target/x86_64-unknown-linux-gnu/release/cargo-temp

      - uses: actions/upload-artifact@v3
        with:
          name: build-linux
          path: target/x86_64-unknown-linux-gnu/release/cargo-temp

  build-linux-all-features:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu

      - name: Build release (Linux)
        run: cargo build --release --all-features --target=x86_64-unknown-linux-gnu

      - run: strip target/x86_64-unknown-linux-gnu/release/cargo-temp

      - uses: actions/upload-artifact@v3
        with:
          name: build-linux-all-features
          path: target/x86_64-unknown-linux-gnu/release/cargo-temp

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Build release (Windows)
        run: cargo build --release --target=x86_64-pc-windows-msvc

      - uses: actions/upload-artifact@v3
        with:
          name: build-windows
          path: target/x86_64-pc-windows-msvc/release/cargo-temp.exe

  build-windows-all-features:
    runs-on: windows-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Build release (Windows)
        run: cargo build --release --all-features --target=x86_64-pc-windows-msvc

      - uses: actions/upload-artifact@v3
        with:
          name: build-windows-all-features
          path: target/x86_64-pc-windows-msvc/release/cargo-temp.exe

  build-osx:
    runs-on: macos-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin

      - name: Build release (OSX)
        run: cargo build --release --target=x86_64-apple-darwin

      - uses: actions/upload-artifact@v3
        with:
          name: build-osx
          path: target/x86_64-apple-darwin/release/cargo-temp

  build-osx-all-features:
    runs-on: macos-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin

      - name: Build release (OSX)
        run: cargo build --release --all-features --target=x86_64-apple-darwin

      - uses: actions/upload-artifact@v3
        with:
          name: build-osx-all-features
          path: target/x86_64-apple-darwin/release/cargo-temp

  release:
    needs: [
      build-linux,
      build-linux-all-features,
      build-windows,
      build-windows-all-features,
      build-osx,
      build-osx-all-features
    ]
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - uses: actions/download-artifact@v3
        with:
          name: build-linux
          path: build-linux
      - run: mv build-linux/cargo-temp build-linux/cargo-temp-${{ steps.get_version.outputs.VERSION }}-linux-x86_64

      - uses: actions/download-artifact@v3
        with:
          name: build-linux-all-features
          path: build-linux-all-features
      - run: mv build-linux-all-features/cargo-temp build-linux/cargo-temp-all-features-${{ steps.get_version.outputs.VERSION }}-linux-x86_64

      - uses: actions/download-artifact@v3
        with:
          name: build-windows
          path: build-windows
      - run: mv build-windows/cargo-temp.exe build-windows/cargo-temp-${{ steps.get_version.outputs.VERSION }}-windows-x86_64.exe

      - uses: actions/download-artifact@v3
        with:
          name: build-windows-all-features
          path: build-windows-all-features
      - run: mv build-windows-all-features/cargo-temp.exe build-windows/cargo-temp-all-features-${{ steps.get_version.outputs.VERSION }}-windows-x86_64.exe

      - uses: actions/download-artifact@v3
        with:
          name: build-osx
          path: build-osx
      - run: mv build-osx/cargo-temp build-osx/cargo-temp-${{ steps.get_version.outputs.VERSION }}-osx-x86_64

      - uses: actions/download-artifact@v3
        with:
          name: build-osx-all-features
          path: build-osx-all-features
      - run: mv build-osx-all-features/cargo-temp build-osx/cargo-temp-all-features-${{ steps.get_version.outputs.VERSION }}-osx-x86_64

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            build-linux/*
            build-osx/*
            build-windows/*
