name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        include:
          - os: ubuntu-latest
            name: linux
            binary: cargo-temp
          - os: macos-latest
            name: macos
            binary: cargo-temp
          - os: windows-latest
            name: windows
            binary: cargo-temp.exe

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Update rustup
        run: rustup update

      - name: Build release
        run: cargo build --release

      - if: runner.os != 'Windows'
        run: strip target/release/cargo-temp

      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.name }}
          path: target/release/${{ matrix.binary }}

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - uses: actions/download-artifact@v4
        with:
          name: build-linux
          path: build-linux

      - uses: actions/download-artifact@v4
        with:
          name: build-macos
          path: build-macos

      - uses: actions/download-artifact@v4
        with:
          name: build-windows
          path: build-windows

      - run: |
          mv build-linux/cargo-temp build-linux/cargo-temp-${{ steps.get_version.outputs.VERSION }}-linux-x86_64
          mv build-macos/cargo-temp build-macos/cargo-temp-${{ steps.get_version.outputs.VERSION }}-macos-x86_64
          mv build-windows/cargo-temp.exe build-windows/cargo-temp-${{ steps.get_version.outputs.VERSION }}-windows-x86_64.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            build-linux/*
            build-macos/*
            build-windows/*
